<center>
	<h1>Hello!</h1>
	<h1>Welcome to my first app!</h1>
	<ul style='list-style-type:none'>
		<li><a href="/games">Games</a></li>
		<li><a href="/games/inventory">Inventory</a></li>
		<li><a href="/user/new">Create New User</a></li>
	</ul>
</center>