html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("<%= asset_path('music_player/3.jpg') %>") no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#signupbox {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15vw;
	margin-left: -15vw;
	border: 1px solid #FFFFFF;
	width: 30vw;
	height: 30vw;
	vertical-align: middle;
}

#elements_container {
	position: absolute;
	height: 20vw;
	width: 100%;
	margin-top: 4vw;
	/*border: 1px solid red;*/
	font-family: 'Segoe UI', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

#elements_container > button {
	width: 50%;
	height: 32px;
	margin-top: 8px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	font-family: 'Segoe UI', sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #FFFFFF;
}

#elements_container > button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

#elements_container > button:active {
	background-color: rgba(255, 255, 255, 0.8);
}

#elements_container > button:focus {
	outline: none;
}

#elements_container > input {
	width: 50%;
	height: 32px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	text-align: center;
	font-family: 'Segoe UI', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

#elements_container > input:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

#elements_container > input:focus {
	outline: none;
}