<a href= '<%= root_path %>' >Back to Main Menu</a>
<center>
	<h1>Hello!</h1>
	<h1>Welcome to world of games!</h1>
	<ul style='list-style-type:none'>
		<li><a href="/games/connect4">connect 4</a></li>
	</ul>
</center>