<%= form_tag('/game_equipment', method: :post) do %>
	<h3>New Equipment</h3>
	<div>Name:</div><input type="text" name="name" />
	<div>Quantity:</div><input type="text" name='quantity' />
	<div>Weight:</div><input type="text" name='weight' />
	<br/><input type='submit' value="Submit" />
<% end %>