<h3>Login</h3>
<%= form_tag("/music_player/login", method: :post) do %>
	<div id="elements_container">
		<div> Username: </div> 
		<input type="text" name="username" />
		<div> Password： </div> 
		<input type="password" name="password" />
		</br> <input type="submit" value="LOGIN" />
	</div>
<% end %>

</br>
<button onclick="location.href = '/music_player/register'">REGISTER</button>
